@import '../../styles/main.scss';

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.pagination-buttons {
  height: 32px;
  width: 32px;
  border: 1px solid $color-elements;
  border-radius: 50%;
  margin-right: 8px;
  
  &:hover {
    border-color: $color-primary;
  }

  &__numbers {
    
    &--active {
      background-color: $color-primary;
      color: $color-white;
    }
  }

  &__arrow {
    border: 1px solid $color-icons;    

    &--left {
      background-image: url(../../img/icons/arrow_left.svg);
      background-position: center;
      background-repeat: no-repeat;
    }

    &--right {
      margin-right: 0;
      background-image: url(../../img/icons/arrow_right.svg);
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}

  

