.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.pagination-buttons {
  height: 32px;
  width: 32px;
  border: 1px solid #E2E6E9;
  background-color: white;
  border-radius: 50%;
  margin-right: 8px;
  
  &:hover {
    border-color: #0F0F11;
  }

  &__numbers {
    
    &:focus {
      background-color: #0F0F11;
      color: white;
    }
  }

  &__arrow {
    border: 1px solid #B4BDC3;    

    &--left {
      background-image: url(../../img/icons/arrow_left.svg);
      background-position: center;
      background-repeat: no-repeat;
    }

    &--right {
      margin-right: 0;
      background-image: url(../../img/icons/arrow_right.svg);
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}

  

