.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.pagination-buttons {
  height: 32px;
  width: 32px;
  border: 1px solid #E2E6E9;
  border-radius: 50%;
  background-color: #fff;
  margin-right: 8px;

  &__arrow {
    border: 1px solid #B4BDC3;
    background-color: #fff;
    

    &--left {
      background-image: url(../../img/icons/arrow_left.svg);
      background-position: center;
      background-repeat: no-repeat;
    }

    &--right {
      margin-right: 0;
      background-image: url(../../img/icons/arrow_right.svg);
      background-position: center;
      background-repeat: no-repeat;

      &:hover {
        border-color: #0F0F11;
      }
    }
  }

  &:hover {
    border-color: #0F0F11;
  }
}
