@import '../../styles/utils/mixins';

.home-wrapper {
  font-family: 'Mont-Regular';
  max-width: 1200px;
  min-width: 320px;
  margin: 0 auto 76px;
  text-align: center;

  @include onDesktop; @include onLaptop; @include onTablet {
    text-align:left
  }
}