@mixin onTablet {
  @media (min-width: 640px) {
    @content;
  }
}

@mixin onLaptop {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin onDesktop {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin mainWrapper {
  min-height: 80vh;
  height: 100%;
  max-width: 1200px;
  min-width: 320px;
  margin: 0 auto;
  padding: 24px 16px;
}