@import "../utils/mixins";
@import "./variables";

@font-face{
  font-family: "Mont-Regular";
  src: local("Regular"),
    url("../../fonts/Mont-Regular.otf");
}

@font-face{
  font-family: "Mont-SemiBold";
  src: local("SemiBold"),
    url("../../fonts/Mont-SemiBold.otf");
}

@font-face{
  font-family: "Mont-Bold";
  src: local("Bold"),
    url("../../fonts/Mont-Bold.otf");
}

* {
  box-sizing: border-box;
}

html {
  font-family: 'Mont-Regular';
}

.wrapper {
  @include mainWrapper;

  @include onLaptop; @include onTablet {
    padding: 40px 24px;
    min-height: calc(100vh - 95px - 48px);
  };

  @include onDesktop {
    min-height: calc(100vh - 95px - 64px);
    padding: 40px 32px;
  };
}
