@import '../../styles/utils/variables';
@import '../../styles/utils/mixins';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;

  height: 48px;
  padding: 13px 0px 13px 16px;

  background: $color-white;
  box-shadow: 0px 1px 0px $color-elements;

  @include onDesktop {
    height: 64px;
    padding: 18px 0px 18px 24px;
  }

  &__logo {
    width: 64px;

    @include onTablet {
      margin-right: 32px;
    }

    @include onDesktop {
      width: 80px;
      margin-right: 48px;
    }
  }

  &__icons {
    display: none;
    white-space: nowrap;

    @include onTablet {
      display: flex;
    }
  }

  &__icon_link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 48px;
    height: 48px;
    box-shadow: -1px 0px 0px #E2E6E9;

    &:hover {
      .header__icon {
        transform: scale(1.2);
      }
    }

    @include onDesktop {
      height: 64px;
      width: 64px;
    }
  }

  &__icon {
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 15px;
    height: 15px;

    transition: all 0.3s ease;
  }

  &__icon--favourites {
    background-image: url('../../img/icons/favourites.svg');
  }

  &__icon--cart {
    background-image: url('../../img/icons/cart.svg');
  }


  &__menu {
    height: 48px;
    width: 48px;
    padding: 16px;
    background: $color-white;
    box-shadow: -1px 0px 0px $color-elements;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      opacity: 0.5;
    }

    @include onDesktop {
      height: 64px;
      width: 64px;
      padding: 24px;
    }
  }

  &__menu {
    display: block;

    @include onTablet {
      display: none;
    }
  }
}

.nav {
  margin-right: auto;

  &__list {
    display: none;
    margin: 0;
    padding: 0;

    @include onTablet {
      display: flex;
    }
  }

  &__item {
    @include onTablet {
      margin-right: 32px;
    }

    @include onDesktop {
      margin-right: 64px;
    }

    &:last-child {
      margin: 0;
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    font-family: 'Mont-SemiBold';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 11px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $color-secondary;

    @include onTablet {
      height: 48px;
    }

    @include onDesktop {
      height: 64px;
    }

    &:hover {
      color: $color-primary;
    }
  }
}

.active {
  position: relative;
  color: $color-primary;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;

    display: block;
    height: 3px;
    width: 100%;

    background-color: $color-primary;
  }
}

.icon-counter {
  position: absolute;
  top: -7px;
  right: -7px;
  background: $color-secondary-accent;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  border: 1px solid $color-white;

  font-style: normal;
  font-weight: 600;
  font-size: 9px;
  line-height: 12px;
  text-align: center;
  color: $color-white;
}
