@import '../../styles/utils/variables'; 
@import '../../styles/utils/mixins'; 


.breadcrumbs {
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 25px;

  @include onTablet {
    margin-bottom: 40px;
  }
}

.backcrumb {
  cursor: pointer;
  display: block;

  font-weight: 700;
  line-height: 15px;
  margin-bottom: 16px;
  color: $color-primary;
}